<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Applications</key>
	<array>
		<string>app</string>
	</array>
	<key>Document</key>
	<array>
		<string>pages</string>
		<string>numbers</string>
		<string>keyNote</string>
		<string>txt</string>
		<string>doc</string>
		<string>pdf</string>
		<string>rtf</string>
		<string>xlsx</string>
		<string>csv</string>
		<string>xml</string>
		<string>plist</string>
		<string>strings</string>
		<string>docx</string>
	</array>
	<key>Pictures</key>
	<array>
		<string>BMP</string>
		<string>JPG</string>
		<string>JPEG</string>
		<string>PNG</string>
		<string>GIF</string>
		<string>TIFF</string>
		<string>gif</string>
		<string>png</string>
	</array>
	<key>DMG</key>
	<array>
		<string>dmg</string>
		<string>pkg</string>
		<string>exe</string>
		<string>iso</string>
		<string>apk</string>
	</array>
	<key>ZIP</key>
	<array>
		<string>zip</string>
		<string>tar</string>
		<string>gz</string>
		<string>tgz</string>
		<string>bz2</string>
		<string>tbz</string>
		<string>xz</string>
		<string>rar</string>
	</array>
	<key>Mp3</key>
	<array>
		<string>mp3</string>
		<string>wav</string>
		<string>mid</string>
		<string>asf</string>
		<string>mpg</string>
		<string>tti</string>
	</array>
	<key>Movies</key>
	<array>
		<string>ASF</string>
		<string>AVI</string>
		<string>MPEG</string>
		<string>DIVX</string>
		<string>QuickTime</string>
		<string>RM</string>
		<string>rmvb</string>
		<string>mp4</string>
	</array>
</dict>
</plist>
